body {
    background-image: url("/static/img/background.gif");
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 100%;
    background-attachment: fixed;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-blend-mode: multiply;
}

#description {
    font-family: Impact;
    font-size: 22pt;
    text-shadow: 3px 3px 3px rgba(0, 255, 255, 0.6);
    margin-left: 5%;
}

.post {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 3%;
    background: rgba(0, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.6);
    transition-duration: 0.5s;
}
.post:hover {
    background: rgba(0, 255, 255, 1);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 1);
}

#review {
    margin-top: 5%;
}

hr {
    width: 100%;
}

.del {
    float: right;
    margin-top: 0.5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.title {
    font-size: 30pt;
    font-weight: bold;
    font-family: "Comic Sans MS";
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    word-break: break-all;
}

.text {
    font-size: 26pt;
    font-family: 'Times New Roman';
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    word-break: break-all;
}

.time {
    float: right;
    font-size: 14pt;
    font-family: 'Times New Roman';
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    word-break: break-all;
    margin-top: 1%;
}

#main_title {
    font-family: Impact;
    text-align: center;
    text-shadow: 8px 8px 3px rgba(0, 255, 255, 0.6);
}

#book_name {
    font-family: "MurreyC";
}

h1 {
    font-size: 60pt;
}

#form {
    font-family: Impact;
    font-size: 22pt;
    text-shadow: 3px 3px 3px rgba(0, 255, 255, 0.6);
    margin-left: 5%;
}


button {
    color: black;
    background-color: rgba(0, 255, 255, 0.4);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    transition-duration: 0.4s;
    padding: 5px;
    font-family: 'Times New Roman';
    font-size: 14pt;
}

button:hover {
    background-color: rgba(0, 255, 255, 1);
    color: black;
}

#delete_all {
    margin-left: 5%;
    margin-bottom: 0%;
}











@font-face {
    font-family: "MurreyC";
    src: url("/static/fonts/MurreyC.ttf") format("truetype")
}




