<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/index_style.css">
        <link rel="shortcut icon" type="imge/x-icon" href="/static/img/favicon.ico">
        <title>Темы</title>
    </head>
    <body>
        <h1 id="main_title">Выберите тему для обсуждения</h1>
        {% for subject in subjects %}
        <div class="subject">
            <a href="/subjects/{{ subject.id }}" class="title">{{ subject.title }}</a>
        </div>
            <div class="del"><a href="/delete/{{ subject.id }}"><button>Удалить тему</button></a></div>
        {% endfor %}

        <hr>

        <div id="form">Добавте тему:
            <form method="POST">
                <input required name="title" type="text">
                <br>
                <textarea required name="description" cols="30" rows="10"></textarea>
                <br>
                <button type="submit">Отправить!</button>
            </form>
        </div>
    </body>
</html>
