<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/subject_style.css">
        <link rel="shortcut icon" type="imge/x-icon" href="/static/img/favicon.ico">
        <title>Отзывы на "{{ subject.title }}"</title>
    </head>
    <body>
        <h1 id="main_title">Что думают о <br><div id="book_name">"{{ subject.title }}"</div></h1>
        <div id="description">
            <i>
                {{ subject.description }}
            </i>
        </div>
    
        <hr>
    
        <div>
            {% for post in comments  %}
            <div class="post">
                <div class="title">{{ post.title }}</div>
                <div class="text">{{ post.text }}</div>
                <div class="time">{{ post.format_timestamp() }}</div>
            </div>
            <div class="del"><a href="/subjects/{{ subject.id }}/delete/{{ post.id }}"><button>Удалить отзыв</button></a></div>
            {% endfor %}

            <hr>
            
            <div id="form">Напишите свой отзыв:
            <form method="POST">
                <input required name="title" type="text">
                <br>
                <textarea required name="text" cols="30" rows="10"></textarea>
                <br>
                <button type="submit">Отправить!</button>
            </form>
            </div>

            <hr>

            <a href="/subjects/{{ subject.id }}/delete/all" id="delete_all"><button>Низвести до атомов все отзывы</button></a>
            </div>
        </div>
    </body>
</html>










